{% extends 'QuakShopsAdminBundle::layout.html.twig' %}

{% block content %}
    {{ form(form) }}

    {% if field is defined%}
    <a href="{{ path('quak_shops_admin_field_delete', { fieldId : field.id }) }}">Remove this field</a>
    <br/>
    {% endif %}

    <a href="{{ path('quak_shops_admin_index') }}#form">Back</a>
{% endblock %}