{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/quakshopscore/css/styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/quakshopsreport/css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <div id="header">
            <span id="username">{{ user.name }}</span>
            <span id="logout"><a href="{{ path('logout') }}">Logout</a></span>
        </div>
        {% block content %}{% endblock %}
    </div>
{% endblock %}
