{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        <li><a href="{{ path('logout') }}">Logout</a></li>
    </ul>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
