{% extends '::base.html.twig' %}

{% block body %}
    <div><a href="{{ path('quak_shops_admin_user_new') }}">Create new user</a></div>
    <div>
        <h1>Administrators</h1>
        <ul>
            {% for user in users.ROLE_ADMIN %}
            <li>{{ user.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1>Shops</h1>
        <ul>
            {% for user in users.ROLE_SHOP %}
            <li>{{ user.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}