{% extends 'QuakShopsAdminBundle::layout.html.twig' %}

{% block content %}
<div id="formWrapper">
    {{ form(form) }}

    {% if user is defined%}
    <a href="{{ path('quak_shops_admin_user_delete', { userId : user.id }) }}" class="buttonLink confirmRemoval">Remove this user</a>
    {% endif %}

    <a href="{{ path('quak_shops_admin_index') }}{% if user is defined and user.hasRole('ROLE_ADMIN') %}#administrators{% else %}#shops{% endif %}" class="buttonLink">Back</a>
</div>
{% endblock %}